@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Chris Hansen";
}



<!--Header that lists your preferred name-->
<h1>Chris Hansen</h1>

<!--A picture of yourself doing something you enjoy-->
<img src="img/IMG_3124 (1).JPG" height="500" />
<p>The above image is of my dad, my brother, and myself following one of my lacrosse games from last year.</p>

<!--A paragraph on what you hope to get out of this IS 413 class-->
<h4>What I hope to get out of this class:</h4>
<p>
    I hope to become a better understand ASP.net and it's advantages and disadvantages over other systems.
    One thing that I often feel like I forget when I move from coding language to coding language is how to set up the website.
    I would like to not have that issue with ASP.net.
</p>

<!--A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
<p>Top 3 Jobs I am Interested in Pursuing When I Graduate:</p>
<ul>
    <li>Cybersecurity</li>
    <li>Software Engineering</li>
    <li>Data Analyst</li>
</ul>



