@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--A webpage title-->
    <title>Mission 4 Assignment</title>

    <!--Style the site using Bootstrap.-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--Include at least one change to the styling using your own CSS file.-->
    <link href="css/default.css" rel="stylesheet" />

    <!--An icon for the website (displayed on the tab next to the website title) (#notcoveredinthevideos)-->
    <link href="img/ch.jpeg" rel="shortcut icon" />
</head>
<body>
    <!--Header that lists your preferred name-->
    <h1>Chris Hansen</h1>

    <!--A picture of yourself doing something you enjoy-->
    <img src="img/IMG_3124 (1).JPG" height="500" />
    <p>The above image is of my dad, my brother, and myself following one of my lacrosse games from last year.</p>

    <!--A paragraph on what you hope to get out of this IS 413 class-->
    <h4>What I hope to get out of this class:</h4>
    <p>
        I hope to become a better understand ASP.net and it's advantages and disadvantages over other systems.
        One thing that I often feel like I forget when I move from coding language to coding language is how to set up the website.
        I would like to not have that issue with ASP.net.
    </p>

    <!--A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
    <p>Top 3 Jobs I am Interested in Pursuing When I Graduate:</p>
    <ul>
        <li>Cybersecurity</li>
        <li>Software Engineering</li>
        <li>Data Analyst</li>
    </ul>

    <!--A "Grade Calculator" form that takes as input a percentage scored for each grade category listed in the syllabus-->
    <h4>Grade Calculator</h4>
    <form action="" method="post">
        <label>Assignments:</label>
        <input id="valueAssignments" /><label>%</label><br>
        <label>Group Project:</label>
        <input id="valueGroupProject" /><label>%</label><br>
        <label>Quizzes:</label>
        <input id="valueQuizzes" /><label>%</label><br>
        <label>Midterm Exam:</label>
        <input id="valueMidterm" /><label>%</label><br>
        <label>Final Exam:</label>
        <input id="valueFinal" /><label>%</label><br>
        <label>INTEX:</label>
        <input id="valueINTEX" /><label>%</label><br><br>
        <input type="button" id="calc" value="Calculate" /><br><br>
        <label id="result"></label>
    </form>

    <br><br><br><br>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="js/gradeCalculator.js"></script>


</body>
</html>